/.idea/workspace.xml
/.idea/vcs.xml
/.idea/codeStyles/Project.xml
/.idea/.name
/.DS_Store
*.xcuserstate
/RNRMovies.xcodeproj/project.xcworkspace/xcuserdata/robertredmond.xcuserdatad/UserInterfaceState.xcuserstate
